@import 'https://fonts.googleapis.com/css?family=Baloo+Bhaina';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
body{
    background-image: url(../imagens/fundo.jpg);
}

/* CABEÇALHO */
#cabecalho{
    width: 100%;
}
#logo{
    position:absolute;
    left:34%;
}
#textoCabecalho1{
    position:absolute;
    top:2%;
    left:51%;
    font-family: 'Baloo Bhaina', cursive;
}
#textoCabecalho2{
    position:absolute;
    top:-6%;
    left:48%;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 70pt;
}
/* IFRAME DO CONTEÚDO */
#iframeConteudo{
    width: 65%;
    height:402%;
    margin-top:15%;
    margin-left: 1%;
    
}

/* POSTAGENS RECENTES */
#postagens{
    position: relative;
    top: -402%;
    left: 70%;
    height: 50%;
    width: 30%;
    border-radius: 4px;
    border: 4px solid deeppink;
}

.postagem{
    margin: 5px;
    margin-top: 12px;
    margin-left: 10px;
    height: 20%;
    width: 95%;
    transition-duration: 2s;
    text-align: center;
}

.postagem:hover{
    border-radius: 4px;
    transition-duration: 0.4s;
    background-color: deepskyblue;
}
#rodape{
    font-family: 'Open Sans', sans-serif;
    background-color:#2f2f2f;
    color:white;
    text-align: center;
    font-weight: bold;
    padding:3%;
}
.classeImgRecentes{
    width:30%;
    float:left;
}
.classeTitulosRecentes{
    text-align:left;
    font-family: 'Open Sans', sans-serif;
}